<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Погода</title>
</head>
<body>
    <h1>Узнайте погоду в вашем городе</h1>
    <form method="post">
        <input type="text" name="city" placeholder="Введите город" required>
        <button type="submit">Проверить погоду</button>
    </form>

    {% if weather_data %}
        {% if weather_data.error %}
            <p>{{ weather_data.error }}</p>
        {% else %}
            <h2>Погода в {{ weather_data['name'] }}</h2>
            <p>Температура: {{ weather_data['main']['temp'] }} °C</p>
            <p>Описание: {{ weather_data['weather'][0]['description'] }}</p>
        {% endif %}
    {% endif %}
</body>
</html>
